@use "styles/helpers" as *;
@use "styles/variables" as *;

.main {
    margin-top: rem(25);
}

.pagination {
    margin-top: rem(80);
}

@include mobile {
    .pagination {
        margin-top: rem(50);
    }
    .filters {
        gap: 20px;
        padding-bottom: rem(20);
    }
}
