@use "styles/helpers" as *;
@use "styles/variables" as *;

.form {
    width: 100%;
    max-width: rem(631);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: rem(43);
    margin-bottom: rem(31);
}

.left {
    display: flex;
    flex-direction: column;
    gap: rem(9);
}

.right {
    display: flex;
    flex-direction: column;
    gap: rem(9);
}

.button {
    width: rem(193) !important;
    height: rem(39);
    margin-top: 9px;
    font-weight: 500 !important;
    align-self: flex-end;
}

@include mobile-s {
    .card {
        padding: 0px 100px;
    }

    .form {
        gap: rem(10);
    }

    .button {
        width: rem(130) !important;
        font-size: 14px !important;
    }
}
