@use "styles/helpers" as *;
@use "styles/variables" as *;

.iconButton {
    background: rgba(126, 170, 195, 1);
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

    &:hover {
        background-color: var(--color-pink-checkboxLine);
    }

    img {
        display: block;
        object-fit: contain;
        margin: 0;
    }
}
