@use "../../styles/helpers/" as *;

.main {
    width: 100%;
    height: 100%;
    padding-left: 54px;
    padding-right: 43px;
    padding-bottom: 20px;
}

@media (max-width: 769px) {
    .main {
        padding-left: rem(20);
        padding-right: rem(20);
    }
}
