@use "styles/helpers" as *;
@use "styles/variables" as *;

.card {
    width: 151px;
    height: 315px;
    background-color: var(--color-light);
    padding: 6px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-decoration: none;
}

.card:hover {
    box-shadow: 1px 1px 1px 1px var(--color-pink-checkboxLine);
}

.cover {
    width: 100%;
    height: 210px;
    border-radius: 6px;
    overflow: hidden;
}

.coverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.meta {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 0;
}

.authors {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.year {
    margin-top: auto;
    text-align: end;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    color: rgba(72, 67, 67, 1);
}
