@use "styles/helpers" as *;
@use "styles/variables" as *;

.wrapper {
    width: 100%;
    height: 100vh;
    background: var(--color-light);
    border-radius: rem(12);
    overflow: hidden;
    margin-top: 20px;
}
