@use "../../styles/helpers/" as *;
@use "../../styles/variables" as *;

.page {
    min-height: 100svh;
    display: grid;
    place-items: center;
}

.card {
    width: 100%;
    height: rem(387);
    max-width: rem(693);
    padding: 0px 30px;
    border-radius: rem(20);
    background: var(--color-light);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.title {
    margin-top: rem(15);
    margin-bottom: rem(13);
    align-self: flex-start;
}
