@use "../../styles/helpers/functions" as *;
@use "../../styles/variables" as *;

.wrapper {
    position: relative;
    width: 100%;
}

input {
    width: 100%;
    height: 48px;
    padding: 0 12px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    border: 1px solid var(--color-gray-input);
    border-radius: 8px;
    outline: none;
    background: var(--color-light);
    cursor: pointer;

    &:focus {
        border-radius: 8px 8px 0 0;
        border: 0px solid var(--color-blue-checkboxLine);
        border-bottom: 1px solid var(--color-blue-checkboxLine);
    }

    &.error {
        border-color: var(--color-pink-checkboxLine);
    }
}

label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-gray-input);
    font-size: 16px;
    transition: 0.2s ease;
    pointer-events: none;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -5px;
    font-size: 12px;
    color: var(--color-blue-checkboxLine);
}

input.error:focus + label,
input.error:not(:placeholder-shown) + label {
    color: var(--color-pink-checkboxLine);
}
