@use "styles/helpers" as *;
@use "styles/variables" as *;

.container {
    position: fixed;
    top: 30px;
    right: 50px;
    z-index: 1000;
}
.toast {
    background: var(--color-light);
    padding: 10px 14px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 5px rgba(40, 106, 205, 0.25);
    cursor: pointer;
    max-width: rem(300);
    font-family: "Roboto";
    font-size: 22px;
    color: var(--color-blue-text);
}

@include mobile {
    .toast {
        font-size: 20px;
    }
}

@include mobile-s {
    .container {
        top: 20px;
        right: 20px;
    }

    .toast {
        font-size: 18px;
    }
}
