@use "styles/helpers" as *;
@use "styles/variables" as *;

.label {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 22px;
    color: black;
    margin-bottom: -29px;
}

.buttonsLabel {
    @extend .label;
    margin-bottom: 0;
    align-self: flex-start;
    margin-top: 8px;
}

.form {
    width: 100%;
    max-width: rem(1031);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: rem(88);
    margin-bottom: rem(31);
    margin-top: rem(44);
}

.left {
    display: flex;
    flex-direction: column;
    gap: rem(44);
    max-width: 470px;
}

.multiField {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: rem(0);
}

.chipsRow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    pointer-events: auto;
    z-index: 10;
    gap: 5px;
    margin-top: -40px;
}

.chip {
    display: inline-flex;
    align-items: center;
    gap: rem(6);
    padding: rem(4) rem(10);
    border-radius: 10px;
    border: 1px solid var(--color-gray-input);
    background-color: var(--color-light, #fff);
    cursor: pointer;
}

.chip:hover {
    background-color: var(--color-pink-checkboxLine);
}

.fieldRow {
    display: flex;
    align-items: center;
    gap: rem(16);
}

.right {
    display: flex;
    flex-direction: column;
    gap: rem(44);
    max-width: 470px;
}

.buttons {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(16);
}

.button {
    width: rem(155) !important;
    height: rem(54);
    font-weight: 500 !important;
    background-color: white;
    border: 1px solid rgba(210, 210, 210, 1);
    border-radius: 10px;
    color: black;
    font-size: 18px;
    margin-left: 32px;
}

.reviewInput {
    height: rem(180);
}

.submitButton {
    width: rem(277);
    height: rem(54);
    font-weight: 500 !important;
    font-size: 18px;
    align-self: center;
    border-radius: 12px;
    grid-column: 1 / -1;
    justify-self: center;
}

.info {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    color: black;
    margin-top: auto;
    margin-left: 100px;
}

@include tablet {
    .form {
        gap: rem(50);
    }

    .left,
    .right {
        gap: rem(30);
    }

    .reviewInput {
        height: rem(150);
    }
}

@include mobile {
    .title {
        text-align: center;
    }

    .form {
        gap: rem(30);
    }

    .info {
        margin-left: 0px;
        font-size: 20px;
    }

    .label {
        font-size: 18px;
    }

    .buttons {
        margin-top: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(16);
        width: 100%;
    }

    .buttons > *:last-child {
        grid-column: 1 / -1;
        margin-left: 0;
    }
}
