@use "styles/helpers" as *;
@use "styles/variables" as *;

.wrapper {
    position: relative;
    display: inline-block;
}

.button {
    width: 44px;
    height: 44px;
    padding: 0;
    border: 1px solid var(--color-gray-input);
    border-radius: 6px;
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon {
    width: 36px;
    height: 36px;
}

.menu {
    position: absolute;
    margin-top: 6px;
    padding: 4px 0;
    width: rem(160);
    background-color: #ffffff;
    border: 2px solid var(--color-gray-input);
    border-radius: 8px;
    z-index: 10;
}

.item {
    width: 100%;
    padding: 6px 10px;
    font-size: 13px;
    text-align: left;
    border: none;
    background: transparent;
    cursor: pointer;
}

.itemActive {
    font-weight: 600;
}
