@use "styles/helpers" as *;
@use "styles/variables" as *;

.root {
    margin-top: 60px;
    padding-left: rem(100);
}

.title {
    font-family: "Roboto";
    font-size: 32px;
    color: black;
    margin-bottom: 18px;
}

.form {
    margin-bottom: 31px;
}

.formTop {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 16px;
}

.sendButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 2px;
    box-shadow: 0px 0px 8px 2px rgba(48, 117, 156, 0.25);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.textarea {
    width: 100%;
    max-width: rem(540);
    height: 100px;
    color: rgba(158, 163, 166, 1);
    font-family: "Roboto";
    font-size: 18px;
    border: 1px solid rgba(210, 210, 210, 1);
    border-radius: 10px;
    padding: 16px;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 49px;
    max-width: 870px;
}

.loadMore {
    margin: 16px auto 0;
    border-radius: 6px;
    padding: 2px;
    border: none;
    cursor: pointer;
    background: #eceff1;
    font-family: "Roboto";
    font-size: 16px;
    box-shadow: 0px 0px 8px 2px rgba(48, 117, 156, 0.25);
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

@include tablet {
    .root {
        padding-left: rem(0);
        margin-top: 45px;
    }

    .title {
        font-size: 26px;
    }

    .list {
        gap: 35px;
    }
}

@include mobile {
    .root {
        margin-top: 30px;
    }

    .title {
        font-size: 26px;
    }

    .form {
        margin-bottom: 20px;
    }
}
