@use '../../styles/hElpers' as *;
@use '../../styles/variables' as *;

.assetButton {
  background: rgba(255, 255, 255, 1);
  border: none;
  box-shadow: 0px 0px 8px 2px rgba(48, 117, 156, 0.25);
  cursor: pointer;
  padding: 0;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  &:hover {
    opacity: 0.7;
  }

  img {
    display: block;
    object-fit: cover;
    margin: 0;
    padding: 8px;
  }
}

.hiddenFileInput {
  display: none;
}