@use "../../styles/hElpers/" as *;
@use "../../styles/variables" as *;

//Поиск.
.search {
    position: relative; 
    margin-inline: auto;
    flex: 0 1 rem(720);
    box-sizing: border-box;
}

.search input {
    width: 100%;
}

.searchDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -14px;
    padding: 6px 5px 0px 5px;
    background: var(--color-light);
    border: 1px solid var(--color-gray-input);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 20;
    overflow: hidden;
}

.searchItem {
    display: flex;
    height: 64px;
    width: 100%;
    border: none;
    background: transparent;
    padding: 6px 8px;
    cursor: pointer;
    color: inherit;
    border-bottom: 1px solid var(--color-gray-input);
}

.searchItemCover {
    height: 52px;
    width: 49px;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 12px;

    img {
        width: 49px;
        height: 100%;
        object-fit: cover;
    }
}

.searchItemInfo {
    flex: 1;
    min-width: 0;
    display: flex;           
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3px;
}

.searchItemTitle {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.searchItemAuthors {
    font-family: 'Roboto';
    font-size: 12px;
    color: var(--color-gray-input)
}

.searchItemType {
    font-family: 'Roboto';
    font-size: 12px;
    color: var(--color-gray-input);
    margin-left: 8px;
    white-space: nowrap;
    margin-top: 6px;
}

.searchEmpty {
    margin: 0px;
    margin-top: -4px;
    padding: 6px 12px;
    font-size: 12px;
    color: var(--color-gray-input);
}

@media (max-width: 768px) {
    .search {
        grid-column: 1 / -1;
        grid-row: 2;
        order: 0;
        max-width: 100%;
        min-width: 0;
        margin: 0;
    }

    .searchDropdown {
        margin-top: 12px;
    }
}
