@use "styles/helpers" as *;
@use "styles/variables" as *;

.popover {
    position: absolute;
    right: 0;
    top: calc(100% + 12px);
    z-index: 3000;

    width: rem(270);
    max-width: min(rem(270), 92vw);

    max-height: none;
    overflow: visible;

    border-radius: rem(20);
    border: 1px solid rgba(193, 202, 210, 1);
    background: var(--color-light);
    box-shadow: 0px 0px 6px 0px rgba(11, 22, 51, 0.49);
    padding: 10px 12px;

    font-family: "Roboto";
}

.title {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
    color: #c02424;
}

.actions {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 34px;
}

.btn {
    width: 105px;
    height: 26px;
    border-radius: 12px;
}
