@use "../../styles/hElpers/" as *;
@use "../../styles/variables" as *;

.wrapper {
    text-align: center;
    padding: 1rem;
    background: var(--color-light);
    box-sizing: border-box;
    width: 100%;
    max-height: 100vh;
    padding: 0px;
}

.center {
    padding: 16px;
    text-align: center;
}

.controls {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: "Roboto";
    font-size: 20px;
}

.button {
    color: black;

    &:hover {
        color: var(--color-pink-checkboxLine);
    }
}
