.wrapper {
  position: relative;
  width: 100%;
}

.select {
  width: 100%;
  height: 48px;
  padding: 0 12px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  border: 1px solid var(--color-gray-input);
  border-radius: 6px;
  outline: none;
  background: transparent;
  background-color: white;

  &:focus {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-blue-checkboxLine);
  }

  &.error {
    border-color: var( --color-pink-checkboxLine);
  }
}

.selectError {
  border: none;
  border-bottom: var(--borderInputError);
  color: var(--color-pink-checkboxLine);
}

.labelActive {
  top: -8px;
  font-size: 12px;
  color: var(--color-blue-checkboxLine);
}

.labelError {
  color: var(--color-pink-checkboxLine);
}