@use "styles/helpers" as *;
@use "styles/variables" as *;

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
}

.multiField {
    display: flex;
    flex-direction: column;
    gap: 6px; 
    min-width: 200px; 
    flex: 1 1 200px;
}

.label {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.chipsRow {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: -5px;
}

.chip {
    display: inline-flex;
    align-items: center;
    gap: rem(6);
    padding: rem(4) rem(10);
    border-radius: 10px;
    border: 1px solid var(--color-gray-input);
    background-color: var(--color-light, #fff);
    cursor: pointer;
}

.chip:hover {
    background-color: var(--color-pink-checkboxLine);
}

@include tablet {
    .filters {
        gap: 20px;
    }
}
