@use "../../styles/helpers/functions" as *;
@use "../../styles/variables" as *;

.wrapper {
    display: inline-flex;
    border-radius: 6px;
    background: var(--color-light);
    border: 0.5px solid var(--color-gray-input);
    height: 34px;
    font-family: "Roboto";
}
.arrow {
    width: 34px;
    background: transparent;
    border: 0.5px solid var(--color-gray-input);
    color: var(--color-blue-text);
    font-size: 14px;
    cursor: pointer;
}

.page {
    width: 34px;
    background: transparent;
    color: var(--color-blue-text);
    font-size: 16px;
    cursor: pointer;
    border: 0.5px solid var(--color-gray-input);
}
.active {
    color: var(--color-pink-checkboxLine);
}
.ellipsis {
    width: 34px;
    text-align: center;
    color: var(--color-blue-text);
    font-size: 20px;
    border: 0.5px solid var(--color-gray-input);
}
