@use "styles/helpers" as *;
@use "styles/variables" as *;

.container {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(89);
    height: rem(24);
    gap: rem(8);
    cursor: pointer;
    user-select: none;
    margin: rem(12) rem(0);
}

.label {
    font-size: rem(18);
    font-weight: 400;
    line-height: 1;
    color: var(--color-gray-input);
    transition: color 0.2s ease;
}

.activeMale {
    color: var(--color-blue-checkboxLine);
}

.activeFemale {
    color: var(--color-pink-checkboxLine);
}

.switch {
    width: rem(34);
    height: rem(18);
    border-radius: rem(18);
    background: var(--color-light);
    position: relative;
    transition: background 0.3s ease;

    &.right .thumb {
        transform: translateX(rem(16));
    }
}

.male {
    background: var(--color-blue-checkboxLine);
}

.female {
    background: var(--color-pink-checkboxLine);
}

.thumb {
    width: rem(16);
    height: rem(16);
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;

    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}
