@use "../../styles/helpers" as *;
@use "../../styles/variables" as *;

.readerSection {
  margin-top: rem(24);
  background: #fff;
  border-radius: rem(12);
  padding: rem(12);
}

.readerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(12);
  margin-bottom: rem(12);
}

.readerTitle {
  font-family: "Roboto";
  font-size: rem(18);
  font-weight: 600;
  color: #000;

  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.readerActions {
  display: flex;
  gap: rem(10);
  flex-shrink: 0;
}

.readerBody {
  border-radius: rem(12);
  overflow: hidden;
  background: #fff;
}

.button {
  padding: rem(8) rem(12);
  border-radius: rem(8);
}
