@use "styles/helpers" as *;
@use "styles/variables" as *;

.page {
    min-height: 100svh;
    display: grid;
    place-items: center;
}

.card {
    width: 100%;
    height: rem(370);
    max-width: rem(438);
    border-radius: rem(20);
    background: var(--color-light);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: rem(22);
    text-align: center;
    margin-bottom: rem(22);
}
