@use "../../styles/helpers/" as *;
@use "../../styles/variables" as *;

.section {
    padding-top: 50px;
}

.heading {
    font-family: "Roboto";
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    color: black;
    display: flex;
    flex-direction: row;
    gap: rem(41);
    width: rem(413);
    margin-bottom: 45px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    gap: 6px;
}

.tag {
    font-family: "Roboto";
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    color: rgba(0, 62, 120, 1);

    &:hover {
        color: var(--color-pink-checkboxLine);
    }
}

.bullet {
    margin-right: 12px;
}

.tagText {
    font-family: "Roboto";
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-style: solid;
    cursor: pointer;
}

@media (max-width: 430px) {
    .heading {
        font-size: 20px;
        color: black;
        display: flex;
        flex-direction: row;
        gap: rem(20);
        width: rem(295);
        margin-bottom: 30px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .tag {
        font-size: 20px;
    }
}
