@use "../../styles/hElpers/" as *;
@use "../../styles/variables" as *;

.container {
    padding: rem(24) rem(0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    align-self: stretch;
    text-align: left;
    color: rgba(0, 0, 0, 1) !important;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
}

.label {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 22px;
    color: black;
    margin-bottom: -29px;
}

.buttonsLabel {
    @extend .label;
    margin-bottom: 0;
    align-self: flex-start;
    margin-top: 8px;
}

.form {
    width: 100%;
    max-width: rem(1031);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: rem(88);
    margin-bottom: rem(31);
    margin-top: rem(44);
}

.left {
    display: flex;
    flex-direction: column;
    gap: rem(44);
    max-width: 470px;
}

.fieldRow {
    display: flex;
    align-items: center;
    gap: rem(16);
}

.right {
    display: flex;
    flex-direction: column;
    gap: rem(44);
    max-width: 470px;
}

.buttons {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(16);
}

.button {
    width: rem(155) !important;
    height: rem(54);
    font-weight: 500 !important;
    background-color: white;
    border: 1px solid rgba(210, 210, 210, 1);
    border-radius: 10px;
    color: black;
    font-size: 18px;
    margin-left: 32px;
}

.reviewInput {
    height: rem(180);
}

.submitButton {
    width: rem(277);
    height: rem(54);
    font-weight: 500 !important;
    font-size: 18px;
    align-self: center;
    border-radius: 12px;
    grid-column: 1 / -1;
    justify-self: center;
}

.info {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    color: black;
    margin-top: auto;
    margin-left: 100px;
}

@media (max-width: 1024px) {
    .form {
        gap: rem(50);
    }

    .left,
    .right {
        gap: rem(30);
    }

    .reviewInput {
        height: rem(150);
    }
}

@media (max-width: 768px) {
    .title {
        text-align: center;
    }

    .form {
        gap: rem(30);
    }

    .info {
        margin-left: 0px;
        font-size: 20px;
    }

    .label {
        font-size: 18px;
    }

    .buttons {
        margin-top: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(16);
        width: 100%;
    }

    .buttons > *:last-child {
        grid-column: 1 / -1;
        margin-left: 0;
    }
}
