@use "styles/helpers" as *;
@use "styles/variables" as *;

.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(34, 40, 55, 1);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-size: 26px;
    flex-shrink: 0;
    margin-right: 12px;
}

.headerRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 6px;
}

.authorName {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.authorPost {
    font-family: "Roboto";
    font-size: 14px;
    color: rgba(37, 84, 128, 1);
}

.date {
    font-family: "Roboto";
    font-size: 18px;
    color: rgba(59, 79, 178, 1);
    white-space: nowrap;
}

.text {
    font-family: "Roboto";
    margin-top: 20px;
    font-size: 18px;
    color: black;
}

.assets {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.assetLink {
    font-size: 12px;
    color: #3b6fcf;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: var(----color-pink-checkboxLine);
    }
}

@include tablet {
    .avatar {
        width: 38px;
        height: 38px;
        font-size: 20px;
    }
}
