@use '../../styles/hElpers/' as *;
@use '../../styles/variables' as *;

.container {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1000;
}
.toast {
    background: var(--color-light);
    padding: 10px 14px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    max-width: rem(300);
    border: 1px solid var( --color-black-text);
    font-family: 'Roboto';
    font-size: 20px;
    color:  var(--color-black-text);
}


